[Unit]
Description=LCD Library
After=network.target

[Service]
ExecStart=/usr/local/bin/display
KillSignal=SIGINT
Restart=always

[Install]
WantedBy=multi-user.target